<h1>New Content</h1>
<%= form_for :validation, url: validations_path  do |f| %>
  <p>
    <%= f.label :year_ent%><br>
    <%= f.text_field :year_ent %>
  </p>
  <p>
    <%= f.label :branch_ent %><br>
    <%= f.text_field :branch_ent %>
  </p>
  <p>
    <%= f.label :fe_ent %><br>
    <%= f.text_field :fe_ent %>
  </p>
  <p>
    <%= f.label :se_ent %><br>
    <%= f.text_field :se_ent %>
  </p>
  <p>
    <%= f.label :te_ent %><br>
    <%= f.text_field :te_ent %>
  </p>
  <p>
    <%= f.label :be_ent %><br>
    <%= f.text_area :be_ent %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>