  # FOR THE ATTACHMENT
 <a href="<%= @user.attach.url %> ">
  <b> File attached </b></a>
  <br/>
 # FOR THE PICTURES 
 # Will show the real size picture
  <%= image_tag @user.pic.url %>
  <br/>
  # Will the style MEDIUM configured before 
  # in your model
 <%= image_tag @user.pic.url(:medium) %>
 <br/>
 # Will the style THUMB configured before 
 # in your model
 <%= image_tag @user.pic.url(:thumb) %>
 <br/>